<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addData" method="post">
        <input type="text" placeholder="Enter name" name="name">
        <input type="text" placeholder="Enter subject" name="subject">
        <input type="text" placeholder="Enter city" name="city">
        <button type="submit">Submit</button>
    </form>

    <table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Subject</th>
                <th>City</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        
        <tbody>
            <%data.map((e,i)=>{%>
                <tr>
                    <td><%=e.id%></td>
                    <td><%=e.name%></td>
                    <td><%=e.subject%></td>
                    <td><%=e.city%></td>
                    <td><button><a href="/editData?id=<%=e.id%>">Edit</a></button></td>
                    <td><button><a href="/deleteData?id=<%=e.id%>">Delete</a></button></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>