<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/png" href="../assets/images/logos/seodashlogo.png" />
    <link rel="stylesheet" href="../../node_modules/simplebar/dist/simplebar.min.css">
    <link rel="stylesheet" href="../assets/css/styles.min.css" />  
    <script src="https://cdn.tailwindcss.com"></script>  
</head>
<body>
    <div class="card-body flex justify-center items-center">

        <form action="/updateData" class="w-[30%] mt-[7%]" method="post" enctype="multipart/form-data">
          <p class="text-center text-2xl font-bold text-black">Edit Admin</p>
          <input type="text" hidden value="<%= singleData.id%>" name="id" id="">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Profile Picture</label>
            <input type="file" value="<%= singleData.image%>" name="image">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">First Name</label>
            <input type="text" class="form-control" value="<%= singleData.fname%>" name="fname" id="exampleInputName1">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Last Name</label>
            <input type="text" class="form-control" value="<%= singleData.lname%>" name="lname" id="exampleInputName2">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Contact No.</label>
            <input type="text" class="form-control" value="<%= singleData.contact%>" name="contact" id="exampleInputContact">
          </div>
          
          <div class="mb-3">
            <label class="text-black" for="">Select Gender</label>
            <br>
            <label><input class="mt-3" type="radio" name="gender" value="Male"> Male </label>
            <br>

            <label><input type="radio" name="gender" value="Female"> Female </label>
            <br>

            <label><input type="radio" name="gender" value="Other"> Other </label>

          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="text" class="form-control" value="<%= singleData.email%>" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" value="<%= singleData.password%>" name="password" id="exampleInputPassword1">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
</body>
</html>